.facebook-button-container {
	overflow: visible;
	width: 100%;
	height: 25px;
}

.facebook-button {
    width: 100%;
    height: 25px;
}

.fb-like { z-index: 9999; }

.fbpdl { 
	z-index: 9999 !important;
	overflow: visible;
}

.fb-like span { 
	z-index: 9999 !important;
	overflow: visible;
} 